# Ignore virtual environment folders and image files
venv/
*/venv/
train/
test/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Ignoring the ds store files
.DS_Store

# Ignoring the trained keras model
*.keras
