# Ignore virtual environment folders and image files
venv/
*/venv/
train/
test/

# Python cache files
__pycache__/
*.py[cod]

# Environment variables
.env

# Ignoring the ds store files
.DS_Store

# Ignoring the trained keras model
*.keras

# Ignoring model result files 
data_analysis/
knn/
cnn/
svm/
engineered_*
test_engineered_df.csv
pca_summary_*
processed_dataset.csv

